/* basic-css */
.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-top: 10px;
}

.layout-navbar-fixed.layout-fixed .wrapper .sidebar {
    margin-top: 0px !important;
}

img.img-circle.user-icon {
    margin-top: -5px;
    margin-right: 5px;
    height: 29px;
    display: inline-block;
}

.nav-username {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
}

.admin-nav li.nav-item {
    margin-left: 20px;
    font-size: 15px;
}
.nav-item .nav .nav-item.act a {
    background: #3c5a7a;
}
.nav-item.parent.act a.parent-link {
    background: #3c5a7a;
}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #164a4a !important;
}
.page-item.active .page-link {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
}
.card-primary:not(.card-outline) > .card-header {
    background-color: #3c5a7a !important;
}
.btn-primary {
    background-color: #1f4e7d !important;
    border-color: #1f4e7d !important;
}
.btn-primary:hover {
    background-color: #112b46 !important;
    border-color: #112b46 !important;
}



/* mobile-css */
@media screen and (min-width: 320px) and (max-width: 767px) {}

/* tab-css */
@media screen and (min-width: 768px) and (max-width: 1024px) {}

/* laptop-css */
@media screen and (min-width: 1025px) {}
